.App {
    text-align: center;
}

.product {
    height: 200px;
    width: 500px;
    border: 1px solid;
    margin-left: 7rem;
    margin-bottom: 2rem;
    padding: 0 1rem 1rem;
    margin-top: 1rem;
}

.btn-wrapper button {
    background: red;
    border: 0px;
    border-radius: 4px;
    padding: 11px;
    color: white;
    /* margin-top: 2rem; */
    /* margin-bottom: 2rem; */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
    left: 14rem;
    top: -3rem;
}

.btn-wrapper.button {
    display: inline-flex;
    justify-content: flex-end;
    position: relative;
}

.product-details {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
}

.img-wrapper img {
    margin-top: 1rem;
}

.text-wrapper span {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title {
    margin-top: 2rem;
    margin-right: 2rem;
    font-weight: 600;
}

.price {
    margin-right: 2rem;
    font-weight: 600;
}

.header img {
    width: 40px;
    height: 40px;
    justify-content: flex-end;
    display: flex;
    position: relative;
    left: 96%;
    top: -68px;
    /* margin-top: -2rem; */
}

.header span {
    background-color: red;
    position: absolute;
    right: 18px;
    top: 28px;
    z-index: 1;
    padding: 6px 12px 5px 11px;
    color: #fff;
    border-radius: 50%;
}

.main-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2rem;
}

.navbar-wrapper nav ul li {
    color: black;

}

.navbar-ul-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.navbar-li-wrapper a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.product-img {
    width: 164px;
    height: auto;
    margin-top: 19px;
}

.product-title {
    font-weight: 700;
    text-align: center;
    margin-left: 7rem;
    margin-bottom: 2rem;
    font-size: 22px;

}